



/* Accompagnement*/



.h3{
    margin-top: 50px;
    margin-left: 280px;
    
}

.h5{
    margin-top: 50px;
    margin-left: 135px;
    font-size: 10px;
}
.tailleImg{
    width: 250px;
    height: 250px;
}

.txtF{
    margin-left: 65px;
    margin-top: 15px;
}

/* bar Progress*/
label {
    padding-right: 10px;
    font-size: 1rem;
}

.bgc{
    background-color:#e6e8e6 ;
}




/* page formation détail*/


.txtDetailF{
    margin-left: 150px;
}

/* fil d'arriane*/

div ul li{
  margin: 0;
  padding: 0;
  list-style: none;
  
  display:inline;
}

ul li+li:before{
  content: ">\00a0";
} 

.margin{
  margin-top: 50px;
  margin-left: 70px;
  
}

.btnPlace{
  margin-top: 40px;
 margin-left: 280px;
}






/* PAGE ACHAT*/





.placeStep1{
  margin-left: 130px;
}

.margin2{
  margin-top: 50px;
  margin-left: 50px;
  
}


.titleAchat{
  margin-left: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.imgPaiement{
  height: 145px;
  width: 300px;
}

.down{
  margin-bottom: 150px;
}